<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="/user" method="get">
    <table>
        <tr>
            <td>账户：</td>
            <td><input type="text" placeholder="用户名/电子邮箱/手机"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" placeholder="你的密码"></td>
        </tr>
        <tr>
            <td><input type="submit" value="登录"></td>
            <td><a href="index.html">取消</a></td>
        </tr>
    </table>
</form>
</body>
</html>