<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/user" method="post">
    <table>
        <tr>
            <td>用户名</td>
            <td><input type="text" placeholder="注册的用户名"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" placeholder="用户登录密码"></td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td><input type="text" placeholder="注册电子邮箱"></td>
        </tr>
        <tr>
            <td>手机</td>
            <td><input type="text" placeholder="注册手机"></td>
        </tr>
        <tr>
            <td>昵称</td>
            <td><input type="text" placeholder="显示名称"></td>
        </tr>
        <tr>
            <td>注册码</td>
            <td><input type="text" placeholder="邀请人发送的注册码"></td>
        </tr>
        <tr>
            <td><input type="submit" value="注册"></td>
            <td><a href="index.html">取消</a></td>
        </tr>
    </table>
</form>
</body>
</html>