<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>

    <script>



    </script>
</head>
<body>
<form action="/user" method="post">
    <table>
        <tr>
            <td>用户名</td>
            <td><input name="userName" type="text" placeholder="注册的用户名"></td>
            <td>[[${nameError}]]</td>

        </tr>
        <tr>
            <td>密码</td>
            <td><input name="password" type="password" placeholder="用户登录密码"></td>
            <td>[[${pwdError}]]</td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td><input name="email" type="text" placeholder="注册电子邮箱"></td>
            <td>[[${emailError}]]</td>
        </tr>
        <tr>
            <td>手机</td>
            <td><input name="mobile" type="text" placeholder="注册手机"></td>
            <td>[[${mobileError}]]</td>
        </tr>
        <tr>
            <td>昵称</td>
            <td><input name="nickname" type="text" placeholder="显示名称"></td>
            <td>[[${nicknameError}]]</td>
        </tr>
        <tr>
            <td>注册码</td>
            <td><input name="registCode" type="text" placeholder="邀请人发送的注册码"></td>
        </tr>
        <tr>
            <td><input type="submit" value="注册"></td>
            <td><a href="/index">取消</a></td>
        </tr>
    </table>
</form>
</body>
</html>